.news_wrapper {
    width: 90vw;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}
.news_name {
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
.news_text {
    width: 60vw;
    font-size: 22px;
    text-align: justify;
    color: #2c190a;
    vertical-align: top;
}
img {
    width: 400px;
}
td {
    padding: 20px;
}
.main_app {
    padding-bottom: 50px;
    margin-bottom: 30px;
}